/* Main Page */
body {
  background-color: white;
  color: black;
  font-family: Tahoma, sans-serif;
}

.h1 {
  font-family: Verdana, sans-serif;
}


/* Navigation bar */
.navbar {
  background-color: #000000;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.navbar ul li {
  display: inline;
  margin-right: 00px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 16px 16px;
  display: inline-block;
}

.navbar ul li a:hover {
  background-color: #808080;
}

.navbar ul .current-page a {
  background-color: #3a3a3a;
}


/* Page contents */
.set {
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    max-width: 50%;
    margin: 0 auto;
    border: 2px solid black;
}